option_settings:
  - option_name: RAILS_SKIP_MIGRATIONS
    value: true
  - option_name: RAILS_SKIP_ASSET_COMPILATION
    value: true

container_commands:
  01_database_config:
    command: cp config/database.yml.sample config/database.yml
  02_db_migrate:
    command: rails db:migrate
  03_assets_precompile:
    command: rails assets:precompile
