option_settings:
  - option_name: LC_ALL
    value: en_US.UTF-8
  - option_name: LANG
    value: en_US.UTF-8

container_commands:
  timezone:
    command: |
      ln -sf /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
      sed -i -e 's/ZONE=.*$/ZONE="Asia\/Tokyo"/' /etc/sysconfig/clock
      sed -i -e 's/UTC=.*$/UTC=false/' /etc/sysconfig/clock
      echo 'ARC=false' >> /etc/sysconfig/clock
