// Place all the styles related to the Postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posting-submit {
  float: left;
  margin-bottom: 0;
}

.posting-user-name {
  float: left;
  margin-bottom: 0;
  margin-left: 10px;

  label {
    float: left;
    margin-right: 10px;
  }
}

.posting-text {
  clear: both;

  textarea {
    width: 300px;
    height: 100px;
    margin-top: 5px;
  }
}

.posting-index {
   h1 {
     font-size: 50px;
   }
  .title {
    padding-bottom: 0;
    font-size: 15px;
    .user-name {
      color: purple;
      font-weight: bold;
      width: 130px;
      display: inline-block;
    }
  }

  .text {
    padding-left: 40px;
    padding-bottom: 20px;
    height: 18px;
    font-size: 15px;
  }

  .new-posting {
    text-decoration: none;
    background-color: darkslategray;
    padding: 8px;
    color: white;
    border-radius: 5px;
  }
  .new-posting:hover {
    background-color: gray;
  }
}

.back {
  background-color: blue;
  padding: 8px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
.back:visited {
  color: white;
}
.back:hover {
  background-color: gray;
}
